body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffc1e8;
}
h1 {
  color: #fb61d9;
}
h2 {
  color: #e91aa7;
}
h3 {
  color: #000;
}
input,
button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 300px;
}

input {
  color: #000;
  background-color: #facfdd;
}

button {
  background-color: #fc8fc2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f5b2d7;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hidden {
  display: none;
}

#timer {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fa72a2;
}

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around; /* Adjust this line */
  margin-top: 20px;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 0, 187);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px; /* Add this line */
}

.card:hover {
  background-color: #f980db;
}

@media only screen and (min-resolution: 72dpi) and (max-resolution: 300dpi) {
  #game-container {
    padding: 10px;
  }

  .card {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
}
